.social-media-container{   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 1em 0;
}

.contact-main-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.contact-form{
    display:flex;
    flex-direction: column;
    gap: 15px;
    width: 100%
}


.contact-description{
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 24px;
    width: 600px;
}

.contact-header{
    position: relative;
    font-size: 48px;
    text-align: center;
    align-content: center;
    margin: auto;
}

.name-field{
    color:white;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    width: 475px;
    font-size: 18px;
    font-family: 'roboto';
    padding: 10px;
}

.email-field{
    color:white;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    width: 475px;
    font-size: 18px;
    font-family: 'roboto';
    padding: 10px;
}

.message-field{
    color:white;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    background-color: transparent;
    width: 477px;
    height: 100px;
    font-size: 18px;
    font-family: 'roboto';
    padding: 10px;
    resize: none;
}

.send-button-container{
    display: flex;
    justify-content: flex-end;
}

.send-button{
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 45px;
    cursor: pointer;
    background-color: grey;
    opacity: 0.80;
}

.send-button:hover{
    opacity: 0.90;
}

.icons-container:hover{
    transition: all 0.2s;
    scale: 1.1
}

@media only screen and (max-width: 1170px){
    .contact-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .contact-main-container{
        flex-direction: row;
        justify-content: center;
        gap: 0px;
    }

    .contact-description{
        width: 24rem;
    }
}

@media only screen and (max-width: 800px){

    .contact-main-container{
        flex-direction: column;
    }

    .contact-form{
        align-items: center;
        justify-content: center;
    }
    .contact-container{
        gap: 0px;
    }

    .contact-header{
        font-size: 32px;
    }

    .contact-description{
        font-size: 18px;
        width: 15rem;
    }

    .name-field{
        width: 15rem;
        font-size: 18px
    }

    .email-field{
        width: 15rem;
        font-size: 18px
    }

    .message-field{
        width: 15rem;
        font-size: 18px
    }

    .icons-container{
        font-size: 12px;
    }
}


@media only screen and (max-width: 800px) and (orientation: landscape){

    .contact-main-container{
        flex-direction: row;
        gap: 1%;
    }

    .contact-form{
        gap: 10px;
    }
}

@media only screen and (max-width: 1170px) and (orientation: landscape){

    .contact-main-container{
        flex-direction: row;
        gap: 1%;
    }

    .contact-form{
        gap: 10px;
    }

    .contact-container{
        gap: 0px;
    }
}


